 *{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom right, #12409f, #4c098a);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.btn{
    margin: 20px 10px;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.btn-hover{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid red;
    overflow: hidden;
    z-index: 5;
}

.btn-hover::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #18b6ea;
    transition: height 2s, width 0.7s;
    z-index: 22;
}
.btn-hover:hover::before{
    width:200px;
    height:200px;
}

/* -------------------------------------------- Nav bar styles start ---------------------------------------------------*/
.logo{
    display: flex;
    font-family: 'Delicious Handrawn', cursive !important;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
.logo img{
    width: 100px;
    height: 50px;
    border-radius: 8px;
}

#header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 228, 239);
    padding: 5px 30px 5px 5px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li:hover {
    cursor: pointer;
}

#navbar li a{
    padding-right: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(26, 25, 25);
    transition: 0.2s ease ;
    width: 100px;
}

#navbar li a:hover,
#navbar li a.active{
    color: #094064;
    transition: 0.3s ease-in-out ;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #2c3e50;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.2s ease-in ;
}

.right-nav input{
    width: 100%;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 10px;
}
.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-nav a i{
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.right-nav a i:hover{
    color: white;
    background-color: #2e3030;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
/* -------------------------------------------- Nav bar styles end -----------------------------------------------------*/

/*=====================================================================================================================================*/
/* -------------------------------------------- Shop styles start ------------------------------------------------------*/
.item-outer-main{
    display: flex;
    justify-content: space-between;
}

.items-outer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100vw;
}

.items-row {
    padding: 20px;
    position: relative;
    width: 100vw;
}

.items-thumbnails{
    overflow-x: scroll;
    display: flex;
    height: 680px;
    justify-content: center;
    align-items: center;

}

.items-thumbnails::-webkit-scrollbar {
    width: 10px;
}

.item{
    border-radius: 8px;
    width: 250px;
    height: 540px;
    margin: 10px 20px;
    box-shadow: 0 0 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.item-genre-title:hover{
    transition-duration: 0.3s;
    cursor: pointer;
    transform: scale(1.03);
    background: #000000;
    color: white;
}

.item-genre-title{
    font-size: 1.5em;
    line-height: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px;
    width: 25%;
    background-image: linear-gradient(to bottom right, #adfdfa, #4bade8);
    font-weight: bold;
    box-shadow: 0 0 3px black;
}
.item-id-shop{
    display: none;
}
.item > img{
    width: inherit;
    min-height: 400px;
    border-radius: inherit;
}
.item-details{
    align-self: flex-start;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    background-color: #063267;
    margin: 5px 0;
    padding: 10px;
}
.item-name{
    font-weight: 600;
    font-size: 1.4em;
}
.btn-add-to-cart{
    bottom: 10vw;
    border-radius: 5px;
    background-color: #01a916;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin: 10px 0;
    padding: 5px;
}

.btn-add-to-cart:hover{
    cursor: pointer;
    background-color: #988d18;
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.shop-outer{
    display: block;
}
.shop-heading-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#shop-heading{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 20px 50px;
    background-color: #4b95e3;
    color: #ddf5fa;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    text-shadow: 0 0 8px #000000;
    box-shadow: 0 0 3px black;
}

.inner-nav{
    position: sticky;
    z-index: 5;
    top: 70px;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #aedff3;
    padding: 10px 0;
}
.inner-nav div{
    border-radius: 5px;
    padding: 10px 50px;
    margin: 0 30px;
    background-color: #0f3d56;
    transition-duration: 0.3s;
    font-weight: 600;
}
.inner-nav a{
    color: white;
    text-decoration: none;
}
.inner-nav div:hover{
    cursor: pointer;
    background-color: #083770;
    transform: scale(1.1);
}

.details-for-place-order-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-for-place-order{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    background-color: #04438c;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
}

.details-labels{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.input-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-right: 8%;
    padding: 3px 10px;

}

.name-input, .contact-input{
    border-radius: 5px;
    height: 40px;
    background-color: #c3eee0;
    border: 1px solid darkblue;
}

.input-details > input{
   background-color: #c3eee0;
    border: none;
    outline: none;
}

.input-details > input::placeholder{
   font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

.btn-outer{
    display: flex;
    justify-content: flex-end;
}

.btn-shop-payment{
    background-color: #0606c0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.btn-shop-payment:hover{
    background-color: #107d81;
    transform: scale(1.1);
}

/* ------------------------------------Shop styles end ---------------------------------------------------*/

/*========================================================================================================*/

/* ---------------------------------- Shopping Cart styles start  ----------------------------------------*/
.cart-outer{
    display: none;
}
.cart{
    border: 1px solid blue;
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cart-title{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #04438c;
    color: white;
    text-align: center;
    border-radius: 8px;
    /*outline: 2px solid #18b6ea;*/
}

.cart-item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c0c0c;
    font-size: 1.1em;
    margin: 20px 80px;
    height: auto;
    min-height: 200px;
    width: 95vw;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    border-radius: 8px;
}
.cart-item-list-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: inherit;
    background-color: #57c2d5;
    border-radius: 8px;
    height: 80px;
    padding: 15px;
    margin-bottom: 10px;
}
.cart-item-name{
    width: 200px;
}


.cart-item-list-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    background-color: #6feecc;
    border-radius: 8px;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
}

.cart-item-img img{
    width: auto;
    height:80px;
}

.cart-item-qty{
    width: 100px;
    background-color: #bfe5ef;
    border-radius: 5px;
    padding: 4px;
}

.cart-item-qty input{
    width: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
}

.item-sub-total{
    margin-right:20px;
    background-color: #44e1e3;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
}
.btn-remove{
    background-color: #be0f0f;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.item-total-price{
    background-color: #be0f0f;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    padding: 5px;
    margin-right: 30px;
    border-radius: 8px;
    align-self: flex-end;
    cursor: pointer;
}
/* --------------------------------------- Items cart styles end ----------------------------------------------*/

/* --------------------------------------- payment page styles start ------------------------------------------*/

#order-checkout-section{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.checkout-page-main-outers{
    background-color: #d9f4f6;
    border-radius: 8px;
    padding: 40px;
    margin-bottom:30px ;
    box-shadow: 0 0 20px black;
    width: 90%;
}

.reference-common, .description-common, .amount-common, .title-language-common{
    font-size: 1em;
    /*font-family: 'Poppins', sans-serif;*/
}

.order-summary-details-outer{
    margin: 0 30px 25px 0px ;
}
.order-summary-details{
    display: grid;
    grid-template-columns: 30% 50%;
}
.reference-label, .description-label, .amount-label, .order-title{
    width: 200px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;

}
.reference-label, .description-label, .amount-label{
    color: white;
    background-color: #0b5d5e;
    padding: 6px;
    border-radius: 8px;
    /*position: absolute;*/
    width: 150px!important;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.reference-no, .description-text, .amount{
    margin-left: 0;
    padding: 20px;
}
.title-and-language {
    /*padding: 10px!important;*/
}
.checkout-page-main-titles{
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #18b6ea;
    margin-top: 20px;
    background-color: #042038;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
}
.language{
    float: right;
}

.payment-details{
    display: grid;
    grid-template-columns: 48% 48%;
}
.card-providers-logos img{
    width: 200px;
}
.card-number input, .card-holders-name input{
    width: 350px;
}
.payment-heading{
    margin:0 0 40px 0;
}
.payment-details-inputs-fields{
    margin: 10px;
}
.payment-details-inputs-fields label::after{
    content: ' *';
    color: red;
}

.payment-details-inputs-fields input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
.billing-address{
    position: relative;
}
.contact-details{
    position: relative;
}
.btn-edit{
    position: absolute;
    display: none;
    right: 5%;
    top: 5%;
    border: none;
    background-color: #127677;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px #24a9b4;
}
.btn-edit:hover{
    cursor:pointer;
}
.billing-details-input-fields{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 20px 50px;
}
.billing-details-input-fields div{
    margin-bottom: 30px;
    height: 40px;
}
.billing-details-input-fields label{
    margin-bottom: 30px;
    height: 40px;
}
.address-1-label::after{
    content: ' *';
    color: red;
}
.town-label::after{
    content: ' *';
    color: red;
}
.postal-code-label::after{
    content: ' *';
    color: red;
}
.country-label::after{
    content: ' *';
    color: red;
}
.billing-details-input-label{
    color: #ffffff;
    background-color: #0b5d5e;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 0 20px;
    font-weight: 600;
    align-items: center;
}

.billing-details-input {
    width: 100%;
    height: 30px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 5px;

}
.billing-details-input input {
    width: 100%;
    height: inherit;
    overflow: auto;
    border: none;
    outline: none;
    background-color: transparent;
}

.billing-contact-summery{
    background-color: #2b75b6;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px 20px;
    padding: 10px 20px;
    display: none;
}

.checkout-page-buttons{
    display: flex;
    justify-content: space-between;
}
.checkout-page-buttons button{
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0 5px #11325b;
}

.billing-contact-cancel-btn{
    border: 4px solid #116b86;
    background-color: white;
    color: #116b86;
}
.billing-contact-save-btn{
    border: none;
    background-color: #116b86;
    color: white;
}
.contact-details-input-fields{
    display: grid;
    grid-template-columns: 20% 80%;
}

.contact-details-input-label{
    color: #ffffff;
    background-color: #0b5d5e;
    border-radius: 8px;
    padding: 5px 20px;
    height: 40px;
    margin: 30px;
    font-weight: 600;
    align-items: center;
}
.contact-details-input-label::after{
    content: ' *';
    color: red;
}
.contact-details-input-fields div{
    margin: 30px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    width: 60%;
}

.contact-details-input-fields input{
    width: 100%;
    margin: 5px;
    border: none;
    outline: none;
    padding: 3px 10px;
    background-color: transparent;
    -webkit-appearance: none;
}

.contact-details-input-fields input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* --------------------------------------- Payment page styles end --------------------------------------------*/

/* ------------------------------------------- Footer start -----------------------------------------------------*/
.link-to-top{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #04438c;
    float: right;
    margin: 0 30px 0 0;
    font-size: 1.2em;
    border: none;
    color: white;
}
#footer{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0 ;
}
#btn-editor-page{
    font-size: 1.5em;
    font-weight: 600;
    background-color: #000000;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #04438c;
    transition-duration: 0.3s;
    text-decoration:none;
    color: red;
 }
#btn-editor-page:hover{
    transform: scale(1.1);
    cursor:pointer;
}

/* ------------------------------------------- Footer end --------------------------------------------------------*/
