* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}
body{
    background-image: linear-gradient(to bottom right, #12409f, #4c098a);
}

/* -------------------------------------------- Nav bar styles start ---------------------------------------------------*/
.logo{
    display: flex;
    font-family: 'Delicious Handrawn', cursive !important;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.logo img{
    width: 100px;
    height: 50px;
    border-radius: 8px;
}
#header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 228, 239);
    padding: 5px 30px 5px 5px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    padding: 14px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li:hover {
    cursor: pointer;
}

#navbar li a{
    padding-right: 10px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(26, 25, 25);
    transition: 0.2s ease ;
    width: 100px;
    font-weight: 580;
}

#navbar li a:hover,
#navbar li a.active{
    color: #094064;
    transition: 0.3s ease-in-out ;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #2c3e50;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.2s ease-in ;
}

.right-nav input{
    width: 100%;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 10px;
}
.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-nav a i{
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.right-nav a i:hover{
    color: white;
    background-color: #2e3030;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
/* -------------------------------------------- Nav bar styles end -----------------------------------------------------*/
.content-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.descriptions{
    background-color: #c7e3f6;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
#content-page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 600;
    color: #051057;
    padding: 10px 100px;
    margin: 20px;
    background-color: #3a91f1;
    border-radius: 8px;
}
.inner-nav{
    position: sticky;
    z-index: 5;
    top: 70px;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #aedff3;
    padding: 10px 0;
}
.inner-nav div{
    border-radius: 5px;
    padding: 10px 50px;
    margin: 0 30px;
    background-color: #0f3d56;
    transition-duration: 0.3s;
    font-weight: 600;
}
.inner-nav a{
    color: white;
    text-decoration: none;
}
.inner-nav div:hover{
    cursor: pointer;
    background-color: #083770;
    transform: scale(1.1);
}
.content-outer{
    width: 80%;
    align-self: flex-start;
}
.content-titles{
    margin: 10px 10px 10px 20px;
    padding: 10px 30px;
    background-image: linear-gradient(to bottom right, #adfdfa, #4bade8);
    width: 300px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
}
.content-titles:hover{
    background-image: linear-gradient(to bottom right, #2bacd7, #256fc4);
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
}
.content{
    margin: 20px;
}
.img-gallery-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
}
.img-gallery-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #cb0303;
    text-shadow: 0 0 5px darkred;
    padding: 10px 30px;
    margin: 10px 0 10px 0;
    font-weight: 600;
    font-size: 2em;
    border-radius: 5px;
}
.img-gallery{
    display: none;
    width: 60vw;
    height: 500px;
}
.img-gallery img{
    border-radius: 5px;
    width: inherit;
    min-height: inherit;
}
.series-sub-title{
    padding: 10px 30px;
    background-color: #2496b4;
    color: white;
    width: 30%;
    border-radius: 5px;
    margin: 10px 20px;
    text-decoration: underline;
    font-size: 1.3em;
    font-weight: 600;
    transition-duration: 0.3s;
}
.series-sub-title:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: black;
    color: red;
}

.link-to-other-content{
    position: absolute;
    right: 0;
    top: 930px;
    width: 20%;
    background-color: #ddf9fa;
    font-weight: 600;
    font-size: 1em;
    padding: 100px 20px;
    border-radius: 5px;
}
.link-to-other-content a{
    /*padding: 10px 50px 10px 10px;*/
    text-decoration: none;
    width: 100%;
    color: #ffffff;
}
.link-to-other-content ul{
    list-style-type: none;
}
.link-to-other-content li{
    margin: 50px 0;
    background-color: #04438c;
    padding: 10px;
    border-radius: 10px;
}
.link-to-other-content li:hover{
    margin: 50px 0;
    background-color: #0c2354;
    padding: 10px;
    border-radius: 10px;
}

.active-content{
    background-color: #411377 !important;
}
.active-content a{
    color: #ffe4e4;
}

.btn-to-top {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #04438c;
    float: right;
    margin: 0 30px 0 0;
    text-decoration: none;
    color: white;
}
/* ------------------------------------------- Footer start -----------------------------------------------------*/
#footer{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0 ;
}
#btn-editor-page{
    font-size: 1.5em;
    font-weight: 600;
    background-color: #000000;
    padding: 10px 30px;
    border-radius: 5px;
    transform: translate(50% 50%);
    border: none;
    box-shadow: 0 0 10px #04438c;
    transition-duration: 0.3s;
     text-decoration:none;
     color: red;
 }
#btn-editor-page:hover{
    transform: scale(1.1);
    cursor:pointer;
}
/* ------------------------------------------- Footer end --------------------------------------------------------*/